
html {
    overflow: auto;
    background-color: #fff;
    font-size: 14px;
}

body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    line-height: 1.5em;
    color: #555;
    background-color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    line-height: normal;
}

h1 {
    font-size: 40px;
    margin: 25px 0;
}

h2 {
    font-size: 30px;
    margin: 20px 0;
}

h3 {
    font-size: 26px;
    margin: 18px 0;
}

h4, h5, h6, .container-overview .subsection-title {
    font-size: 18px;
    margin: 12px 0;
}

a, a:visited, a:active {
    color: #0095dd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    display: block;
    padding: 0px 4px;
}

tt, code, kbd, samp {
    font-family: Consolas, Monaco, 'Courier New', monospace;
}

.class-description {
    font-size: 130%;
    line-height: 140%;
    margin-bottom: 1em;
    margin-top: 1em;
}

.class-description:empty {
    margin: 0;
}

#main {
    float: left;
    width: 80%;
}

article dl {
    margin-bottom: 40px;
}

section
{
    display: block;
    background-color: #fff;
    padding: 12px 24px;
    border-bottom: 1px solid #ccc;
    margin-right: 30px;
}

.variation {
    display: none;
}

.signature-attributes {
    font-size: 60%;
    color: #888;
    font-style: italic;
    font-weight: lighter;
}

#main-navigation {
    display: block;
    float: right;
    width: 20%;
    min-width: 220px;
}

#main-navigation > h2 {
    font-size: 18px;
    margin: 10px 0;
}

#main-navigation h3 {
    font-size: 18px;
    background-color: #ccc;
    padding: 2px 6px;
    margin-bottom: 10px;
    border-bottom: 1px solid #aaa;
    border-radius: 4px 4px 0 0;
}

#main-navigation ul {
    border-left: 1px solid #8f0000;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#main-navigation li {
    margin: 0;
    padding: 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

#main-navigation li:nth-child(even) {
    background-color: #eee;
}

#main-navigation li:hover {
    border-color: #999;
}

#main-navigation li a {
    font-family: Consolas, Monaco, 'Courier New', monospace;
    display: block;
    color: #369;
    padding: 4px;
}

#main-navigation li a:hover {
    color: #8f0000;
    text-decoration: none;
}

footer {
    display: block;
    padding: 6px;
    margin-top: 12px;
    font-style: italic;
    font-size: 90%;
}

.ancestors { color: #999; }
.ancestors a
{
    color: #999 !important;
    text-decoration: none;
}

.clear
{
    clear: both;
}

.important
{
    font-weight: bold;
    color: #950B02;
}

.yes-def {
    text-indent: -1000px;
}

.type-signature {
    color: #888;
}

h4.name {
    position: relative;
    background-color: #eee;
    padding: 2px 70px 2px 4px;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #369;
    color: #369;
}

h4.name .signature {
    color: #555;
}

h4.name ~ .prettyprint {
    margin-bottom: 3em;
}

.name, .signature {
    font-family: Consolas, Monaco, 'Courier New', monospace;
    font-weight: normal;
}

.details { margin-top: 14px; border-left: 2px solid #DDD; }
.details dt { width: 120px; float: left; padding-left: 10px;  padding-top: 6px; }
.details dd { margin-left: 70px; }
.details ul { margin: 0; }
.details ul { list-style-type: none; }
.details li { margin-left: 30px; padding-top: 6px; }
.details pre.prettyprint { margin: 0 }
.details .object-value { padding-top: 0; }

p, .description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 1em;
    margin-top: 1em;
}

.code-caption
{
    font-style: italic;
    font-size: 107%;
    margin: 0;
}

.prettyprint
{
    border: 1px solid #ddd;
    width: auto;
    overflow: auto;
}

.prettyprint.source {
    width: inherit;
}

.prettyprint code
{
    font-size: 100%;
    line-height: 18px;
    display: block;
    padding: 4px 12px;
    margin: 0;
    background-color: #fff;
    color: #4D4E53;
}

.prettyprint code span.line
{
  display: inline-block;
}

.prettyprint.linenums
{
  padding-left: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.prettyprint.linenums ol
{
  padding-left: 0;
}

.prettyprint.linenums li
{
  border-left: 3px #ddd solid;
}

.prettyprint.linenums li.selected,
.prettyprint.linenums li.selected *
{
  background-color: lightyellow;
}

.prettyprint.linenums li *
{
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.params, .props
{
    border-spacing: 0;
    border: 0;
    border-collapse: collapse;
}

.params .name, .props .name, .name code {
    color: #4D4E53;
    font-family: Consolas, Monaco, 'Courier New', monospace;
    font-size: 100%;
}

.params td, .params th, .props td, .props th
{
    border: 1px solid #ddd;
    margin: 0px;
    text-align: left;
    vertical-align: top;
    padding: 4px 6px;
    display: table-cell;
}

.params thead tr, .props thead tr
{
    background-color: #ddd;
    font-weight: bold;
}

.params .params thead tr, .props .props thead tr
{
    background-color: #fff;
    font-weight: bold;
}

.params th, .props th { border-right: 1px solid #aaa; }
.params thead .last, .props thead .last { border-right: 1px solid #ddd; }

.params td.description > p:first-child,
.props td.description > p:first-child
{
    margin-top: 0;
    padding-top: 0;
}

.params td.description > p:last-child,
.props td.description > p:last-child
{
    margin-bottom: 0;
    padding-bottom: 0;
}

.disabled {
    color: #454545;
}

p > code, div.description > code {
    color: #000;
    padding: 0 4px;
    background-color: #eee;
    border-radius: 2px;
}

.category-label {
    font-family: Arial, sans-serif;
    color: #fff;
    display: inline-block;
    position: absolute;
    padding: 2px 6px;
    top: 0;
    right: 0;
    border-radius: 0 4px 0 0;
    background-color: #690;
    font-size: 14px;
    line-height: 1.5em;
}

.category-label a, .category-label a:visited, .category-label a:active {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.category-label a:hover {
    border-bottom-color: transparent;
}

